<a href="https://colab.research.google.com/github/om153/Python_practice/blob/main/OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Class

In [ ]:
#class: is a blueprint or code template for object creation
#object: object is instance of class

In [ ]:
class emp:
  pass

In [ ]:
e=emp()

In [ ]:
print(type(e))

<class '__main__.emp'>

In [ ]:
class Robot:
  def introduce_self(self):
      print("my name is "+ self.name)

In [ ]:
r1=Robot()

In [ ]:
r1.name="abc"

In [ ]:
r1.introduce_self()

my name is abc

In [ ]:
r2=Robot()

In [ ]:
r2.name="xyz"

In [ ]:
r2.introduce_self()

my name is xyz

In [ ]:
r3=Robot()

In [ ]:
r3.name="om"

In [ ]:
r3.introduce_self()

my name is om

In [ ]:
class Robot:
  def __init__(pointer,name,color,weight):
    pointer.name=name
    pointer.color=color
    pointer.weight=weight

  def introduce_self(pointer):
    print("My name is "+ pointer.name)

In [ ]:
r1=Robot("Om","Black",40)

In [ ]:
r1.color

'Black'

In [ ]:
r1.introduce_self()

My name is Om

In [ ]:
class Person:
  def __init__(self,name,gender,profession):
     self.name=name
     self.gender=gender
     self.profession=profession
  def intro(self):
    print('Name:',self.name,","'Gender:',self.gender,","'Profession:',self.profession)

  def work(self):
    print(self.name,'is working as a',self.profession)

In [ ]:
o1=Person("Om","Male","Mechatronics Engineer")

In [ ]:
o1.intro()

Name: Om ,Gender: Male ,Profession: Mechatronics Engineer

In [ ]:
o1.work()

Om is working as a Mechatronics Engineer

In [ ]:
o2=Person("Prerana","Female","Data Scientist")

In [ ]:
o2.intro()

Name: Prerana ,Gender: Female ,Profession: Data Scientist

In [ ]:
o2.work()

Prerana is working as a Data Scientist

In [ ]:
o2.profession="Senior Data Scientist" #updating

In [ ]:
o2.work()

Prerana is working as a Senior Data Scientist

In [ ]:
class Circle:
  def __init__(self, radius):
     self.radius=radius
  def area(self):
    print(3.14*self.radius**2)
  def circumference(self):
    print(2*3.14*self.radius)

In [ ]:
a=Circle(10)

In [ ]:
a.area()

314.0

In [ ]:
a.circumference()

62.800000000000004

1.Create class Bankaccount

>


2.Create constructor accountnumber,name,balance

>


3.deposit()

>


4.Withdrawal

>


5.Display account details

>

####Class Examples

#####EX:1

In [ ]:
class Car:
  def __init__(a,m,y,ma,mo):
    a.milage=m
    a.year=y
    a.make=ma
    a.model=mo

  def age(b,current_year):
    print("Age of Car is",current_year-b.year, "years")

  def fuel_required(self,fuel_price,distance):
      print(f"Fuel required to cover {distance}km is {self.milage*fuel_price/distance} liters ")

In [ ]:
i10=Car(19,2016,50,"sportz")

In [ ]:
i10.age(2023)

Age of Car is 7 years

In [ ]:
i10.model

'sportz'

In [ ]:
i10.milage

19

In [ ]:
i10.fuel_required(106,100)

Fuel required to cover 100km is 20.14 liters

#####Ex:2

In [ ]:
class Person:
  def __init__(self,first_name,last_name,age):
    self.first_name=first_name
    self.last_name=last_name
    self.age=age


  def __str__(self):  #printing object
     return "This is the person class"

In [ ]:
p=Person("Om","Ekande",22)

In [ ]:
print(p)

This is the person class

#####Ex:3

In [ ]:
#parametized constructor
class student:
  def __init__(self,name,rollno,joining_date,current_topic):
    self.name=name
    self.rollno=rollno
    self.joining_date=joining_date
    self.current_topic=current_topic

  def cur_topic(self):
    print("Current topic discussed in class is ",self.current_topic)

  def str_rollno(self):
    try:
      if type(self.rollno)==str:
        print("do nothing")
      else:
        return str(self.rollno)
    except Exception as e:
      print("This is my error message",e)

  def duration(self,current_date):
     print("Duration of student in my class is ",current_date - self.joining_date,"years")
  def __str__(self):
    return "This is a student class"

In [ ]:
s1=student("Om",14,2019,"Data Science")

In [ ]:
print(s1)

This is a student class

In [ ]:
s1.duration(2023)

Duration of student in my class is  4 years

In [ ]:
s1.str_rollno()

'14'

In [ ]:
s1.cur_topic()

Current topic discussed in class is  Data Science

In [ ]:
s1.current_topic

'Data Science'

#####Ex:4

In [ ]:
#non-parametized constructor
class company:
  def __init__(self):
    self.name="ineuron"
    self.address="Banglore"

  def show(self):
     print("Name:",self.name,"Address:")

In [ ]:
cmp=company()

In [ ]:
cmp.show()

Name: ineuron Address:

In [ ]:
#parametized means
#class pub_mod:
#  def __init__(self,name,age):

###Encapsulation

In [ ]:
class rectangle:
  #__length = 0
  #__breadth = 0
  def __init__(self):
    self.length=5
    self.__breadth=3

    print(self.length)
    print(self.__breadth)

In [ ]:
r1=rectangle()

5
3

In [ ]:
r1.length #this is accesible outside the class bcoz it is public

5

In [ ]:
r1.breadth #not accesible bcoz its private i.e. "__breadth"

AttributeError: ignored

###Encapsulation Example

In [ ]:
class test:
  def __init__(self):
    self.a=6
    self._b=5
    self.__c=8

    print("Public:",self.a,"Protected:",self._b,"Private:",self.__c)

In [ ]:
t1=test()

Public: 6 Protected: 5 Private: 8

In [ ]:
t1.a #public

6

In [ ]:
t1.b #protected

AttributeError: ignored

In [ ]:
t1.c #private

AttributeError: ignored

In [ ]:
#solution
class test1:
  def __init__(self):
    self.a=6
    self._b=5
    self.__c=8

    print("Public:",self.a,"Protected:",self._b,"Private:",self.__c)

#create another fuction to access private & protected outside the class
  def show(self):
    print("Protected:",self._b,"Private:",self.__c)

In [ ]:
t2=test1()

Public: 6 Protected: 5 Private: 8

In [ ]:
t2.show()

Protected: 5 Private: 8

#Inheritence

In [ ]:
class parent:
  def func1(self):
    print("Hello from parent class")

class child(parent):
  def func2(self):
    print("Hello child")

In [ ]:
taste=child()

In [ ]:
taste.func1()

Hello from parent class

In [ ]:
taste.func2()

Hello child

In [ ]:
#single inheritence
class ineuron:
  company_website= "https://ineuron.ai"
  name='ineuron'

  def contact_details(self):
    print("Contact us at",self.company_website)

class Datascience(ineuron):

  def __init__(self):
    self.year_of_establishment=2018

  def est_details(self):
    print("est details",self.name,self.year_of_establishment)

In [ ]:
ds=Datascience()

In [ ]:
ds.contact_details()

Contact us at https://ineuron.ai

In [ ]:
ds.year_of_establishment

2018

In [ ]:
ds.est_details()

est details ineuron 2018

In [ ]:
#multiple inheritence
class parent1:
  def func1(self):
    print("Hello from parent1")

class parent2:
  def func2(self):
    print("Hello from parent2")

class child(parent1,parent2):
  def func3(self):
    print("Hello Child")

In [ ]:
testi=child()

In [ ]:
testi.func1()

Hello from parent1

In [ ]:
testi.func2()

Hello from parent2

In [ ]:
#Multiple Inheritence
class batch_number: #parent class-1
  batchnumber="1"
  def __init__(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
  def batch(self):
    print(self.batchnumber)

class course_name: #parent class-2
  cname="fsds"
  def course(self):
    print(self.cname)

class student(batch_number,course_name):
  def show(self):
    print("Batch:",self.batchnumber)
    print("Course:",self.cname)

In [ ]:
s1=student(1,2,3)

In [ ]:
s1.batchnumber

'1'

In [ ]:
s1.cname

'fsds'

In [ ]:
s1.course()

fsds

In [ ]:
s1.show()

Batch: 1
Course: fsds

####EX: Create multiple inheritence

> Parent 1-person

> Parent 2-company

> Parent 3-employee

#####Multiple Inheritence

In [ ]:
class test1: #parent class
  def a(self):
    print("inside test1......")

class test2(test1):  #child class 1
  def b(self):
    print("inside test2.......")

class test3(test2): #child class 2
  def c(self):
    print("inside test3.....")

In [ ]:
t1=test3()

In [ ]:
t1.a()

inside test1......

In [ ]:
t1.b()

inside test2.......

Ex:

In [ ]:
class vehicle:
  def info(self):
    print("inside vehicle class")

class car(vehicle):
  def car_info(self):
    print("inside car class")

class sportscar(car):
  def sportscar(self):
    print("inside sports car")

In [ ]:
s2=sportscar()

In [ ]:
s2.car_info()

inside car class

In [ ]:
s2.info()

inside vehicle class

Ex:

In [ ]:
class phones:

  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price

  def specs(self):
    return('Brand:',self.brand,'Price:',self.price)

  def typeofphone(self):

    if self.price < 20000:
      return "This is a budget phone"

    else:
      return "This is a mid-range phone"

class smartphone(phones):
  def __init__(self,brand,model,price,ram,storage):
    super().__init__(brand,model,price)
    self.ram=ram
    self.storage=storage

class flashiphone(smartphone):
  def __init__(self,brand,model,price,ram,storage,frontcamera,backcamera,display):
    super().__init__(brand,model,price,ram,storage)
    self.frontcamera=frontcamera
    self.backcamera=backcamera
    self.display=display

In [ ]:
p1=flashiphone('RealMe','6i',14000,8,128,'Yes','Yes','Yes')

In [ ]:
p1.specs()

('Brand:', 'RealMe', 'Price:', 14000)

In [ ]:
p1.typeofphone()

'This is a budget phone'

In [ ]:
p1.ram

8

In [ ]:
p1.frontcamera

'Yes'

#####Multilevel Inheritence

In [ ]:
#multi level Inheritence
class test1:

  def a(self):
    print("Inside test1.....")

class test2(test1):

  def b(self):
    print("Inside test2.....")

class test3(test2):

  def c(self):
    print("Inside test3.....")

In [ ]:
t5=test3()

In [ ]:
t5.a()

Inside test1.....

In [ ]:
t5.b()

Inside test2.....

Ex

In [ ]:
class Vehicle:

  def info(self):
    print("Inside Vehicle class")

class Car(Vehicle):

  def car_info(self):
    print("Inside Car class")

class sportscar(Car):

  def sportscar(self):
    print("Inside sports car")

In [ ]:
c1=sportscar()

In [ ]:
c1.car_info()

Inside Car class

In [ ]:
c1.info()

Inside Vehicle class

Hierarchial Inheritance

In [ ]:
class vehicle:

  def info(self):
    print("This is vehicle")

class car(vehicle):

  def car_info(self,name):
    print("Car Name:",name)

class truck(vehicle):

  def truck_info(self,name):
    print("truck name:",self.name)

In [ ]:
s3=car()

In [ ]:
s3.info()

This is vehicle

In [ ]:
t3=truck()

In [ ]:
t3.truck_info('name')

AttributeError: ignored

Hybrid inheritence

In [ ]:
#Hybrid inheritence
class VEhicle:

  def info(self):
    print("This is Vehicle")

class CAr(VEhicle):

  def car_info(self,name):
    print("Car name",name)

class Truck(VEhicle):

  def truck_info(self,name):
    print("Truck name",name)

class Sportscar(CAr,VEhicle):

  def sportscar(self):
    print("Inside from sports class")

In [ ]:
d1=Sportscar()

In [ ]:
d1.info()

This is Vehicle

In [ ]:
d1.car_info("i10")

Car name i10

In [ ]:
d1.sportscar()

Inside from sports class

Ex

In [ ]:
class Vehicles:  #parent class

  def info(self):
    print("This is vehicles")

class Cars(Vehicles):   #child 1

  def car_info(self,name):
    print("car name",name)

class trucks(Vehicles):  #child 2

  def truck_info(self,name):
    print("truck name",name)

class Sportcars(Cars,Vehicles): #child 3

  def sportscars(self):
    print("Inside sports class")

In [ ]:
v1=Sportcars()

In [ ]:
v1.car_info("Nios")

car name Nios

In [ ]:
v1.info()

This is vehicles

In [ ]:
v1.sportscars()

Inside sports class

##Overriding

In [ ]:
#overriding method
#overriding is a situation where signature of the function means name & parameter will be same only defination will be changed

class test5:

  def test(self):
    return "This is my test method"

class test6:

  def test(self):
    return "This is my meth from class test6 called test"

class test7(test5):

  def test(self):
    return "This is my test from test7"

In [ ]:
var_cltest7=test7()

In [ ]:
var_cltest7.test()

'This is my test from test7'

##Overloading

In [ ]:
#Overloading is a situation where number of argument and data type will be different

class test8:

  def test(self,c=5,b=4,d=3):



   return c,b,d

In [ ]:
var_test8=test8()

In [ ]:
var_test8.test()

(5, 4, 3)

In [ ]:
var_test8.test("OM")

('OM', 4, 3)

In [ ]:
var_test8.test("Om","Prerana","Prarthana")

('Om', 'Prerana', 'Prarthana')

In [ ]:
omekande153@gmail.com