<a href="https://colab.research.google.com/github/om153/Python_practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#19/11/2022

1. Print the first 5 positive integers in ascending order with one number
in each line

In [ ]:
for i in range(5):
  print(i+1)

1
2
3
4
5

3. Accept an integer as input and print its square as output.

In [ ]:
number = int(input("Enter the number: "))
print(number**2)

Enter the number: 25
625

4.Accept two integers as input and print their sum as output.

In [ ]:
a = int(input("Enter the number 1: "))
b = int(input("Enter the number 2: "))
print(a+b)

Enter the number 1: 25
Enter the number 2: 50
75

5. Accept two words as input and print the two words after adding a
space between them

In [ ]:
word1 = str(input("Enter the first word: "))
word2 = str(input("Enter the 2nd word: "))
print(f"{word1} {word2}")

Enter the first word: om ekande
Enter the 2nd word: omi
om ekande omi

or

In [ ]:
print(input(), input())

om
ekande
om ekande

6. Accept the registration number of a vehicle as input and print its
state-code as output.

In [ ]:
vehicle_num = input("Enter the number of your vehicle: ")
vehicle_num[0:2]

Enter the number of your vehicle: MH09EK1276

'MH'

7.Accept a five-digit number as input and print the sum of its digits as
output.

In [ ]:
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1 + d2 + d3 + d4 + d5
print(dsum)

12345
15

8.Accept five words as input and print the sentence formed by these
words after adding a space between consecutive words and a full stop
at the end.

In [ ]:
wrd1 = input()
wrd2 = input()
wrd3 = input()
wrd4 = input()
wrd5 = input()
print(f"{wrd1} {wrd2} {wrd3} {wrd4} {wrd5}.")

om
ritesh
shubham
sairaj
chetan
om ritesh shubham sairaj chetan.

or

In [ ]:
word1 = input()
word2 = input()
word3 = input()
word4 = input()
word5 = input()
space = ' '
stop = '.'
sentence = word1 + space + word2 + space + word3 + space + word4 + space + word5 + stop
print(sentence)

om
ritesh
sairaj
shubham
chetan
om ritesh sairaj shubham chetan.

9.Accept the date in DD-MM-YYYY format as input and print the
year as output.

In [ ]:
date = input("Enter date in DD/MM/YY format: ")
print(date[6:])

Enter date in DD/MM/YY format: 21/11/2022
2022

10.Accept a sequence of five single digit numbers separated by commas
as input. Print the product of all five numbers.

In [ ]:
num = input()
d1 = int(num[0])
d2 = int(num[2])
d3 = int(num[4])
d4 = int(num[6])
d5 = int(num[8])
dprod = d1 * d2 * d3 * d4 * d5
print(dprod)

1,2,3,4,5
120

11. Accept two positive integers x and y as input. Print the number of
digits in xy

In [ ]:
x = int(input())
y  = int(input())
mul = x*y
mul_str = str(mul)
print(len(mul_str))

5
6
2

12. Accept a string as input. If the input string is of odd length, then
continue with it. If the input string is of even length, make the
string of odd length as below:
• If the last character is a period (.), then remove it
• If the last character is not a period, then add a period (.) to the
end of the string
Call this string of odd length word. Select a substring made up of
three consecutive characters from word such that there are an
equal number of characters to the left and right of this substring.
Print this substring as output. You can assume that all input
strings will be in lower case and will have a length of at least four

In [ ]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n = int((len(s)-1)/2)
print(s[n-1: n+2])

om
om.

In [ ]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n = int((len(s)-1)/2)
print(s[n-1: n+2])

ekand
kan

13. Accept three positive integers as input and check if they form the
sides of a right triangle. Print YES if they form one, and NO is they do
not. The input will have three lines, with one integer on each line.
The output should be a single line containing one of these two
strings: YES or NO.

In [ ]:
x = int(input())
y = int(input())
z = int(input())
if (x ** 2 + y ** 2 == z ** 2) or (z ** 2 + y ** 2 == x ** 2) or (z ** 2 + x ** 2 == y ** 2):
  print("YES")
else:
  print("NO")

5
6
7
NO

In [ ]:
x = int(input())
y = int(input())
z = int(input())
if (x ** 2 + y ** 2 == z ** 2) or (z ** 2 + y ** 2 == x ** 2) or (z ** 2 + x ** 2 == y ** 2):
  print("YES")
else:
  print("NO")

3
4
5
YES

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique
positive integer. On one warm Sunday evening, five employees of the company come together for a
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei.
The output will be a single line containing one of these two strings: YES or NO

In [ ]:
e1 = int(input())
e2 = int(input())
e3 = int(input())
e4 = int(input())
e5 = int(input())
if (e1+e2) %2 != 0:
  print("NO")
elif (e2 + e3) % 2 != 0:
 print('NO')
elif (e3 + e4) % 2 != 0:
 print('NO')
elif (e4 + e5) % 2 != 0:
 print('NO')
elif (e5 + e1) % 2 != 0:
 print('NO')
# If the sum is even for every pair of adjacent employees,
# then the else block gets executed
else:
 print('YES')

1
2
3
4
5
NO

15. Accept a string as input and print the vowels present in the string in
alphabetical order. If the string doesn’t contain any vowels, then
print the string none as output. Each vowel that appears in the input
string – irrespective of its case should appear just once in lower case
in the output

In [ ]:
string = str(input())

16.You are given the date of birth of two persons, not necessarily from
the same family. Your task is to find the younger of the two. If both
of them share the same date of birth, then the younger of the two is
assumed to be that person whose name comes first in alphabetical
order.
The input will have four lines. The first two lines correspond to the
first person, while the last two lines correspond to the second
person. For each person, the first line corresponds to the name and
the second line corresponds to the date of birth in “DD-MM-YYYY”
format. Your output should be the name of the younger of the two.

In [ ]:
name1 = input()
date1 = input("DOB in DD/MM/YYYY format")
name2 = input()
date2 = input("DOB in DD/MM/YYYY format")

#20/11/2022

In [ ]:
backlog = int(input())