<a href="https://colab.research.google.com/github/om153/Python_practice/blob/main/Python_basic_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ten_number = 10

In [ ]:
pi=22/11
type(pi)

float

In [ ]:
print(type(pi))

<class 'float'>

In [ ]:
"om" + "ekande"

'omekande'

In [ ]:
language1 = "Python"
print(f"Welcome to the class of {language1} language")

Welcome to the class of Python language

In [ ]:
language = input("Enter the class name: ")
print(f"Welcome to the class of {language} language")

Enter the class name: Java
Welcome to the class of Java language

In [ ]:
a,b = 22,34
c = a+b
print(f"The sum of two numbers a:{22} and b:{b} = {c}")

The sum of two numbers a:22 and b:34 = 56

In [ ]:
a<b

True

#Case sensitivity

In [ ]:
TEN=10
ten=12
print(f"Value of capital TEN is {TEN} and Value of small ten is {ten}, This is called case sensitivity i.e. python is case sensitive")

Value of capital TEN is 10 and Value of small ten is 12, This is called case sensitivity i.e. python is case sensitive

#Multi assignment

In [ ]:
a,b,c,bombay= 10,20,30,'mumbai'
print(f"Type of a: {type(a)},Type of b:{type(b)},Type of c:{type(c)},Type of bombay:{type(bombay)}" )

Type of a: <class 'int'>,Type of b:<class 'int'>,Type of c:<class 'int'>,Type of bombay:<class 'str'>

In [ ]:
a,A,b,B = 10,20.2,"sunny",True #multi assignment
print(a,A,b,B)

10 20.2 sunny True

#User Input

In [ ]:
name =input("Enter your first name: ")
print(f"Your first name is {name}")

Enter your first name: Om
Your first name is Om

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")
print(f"Sum of A and B is {A+B}")

Enter value of A: 2
Enter value of B: 34
Sum of A and B is 234

In [ ]:
A = int(input("Enter value of A: ")) #type casting
B = int(input("Enter value of B: "))
print(f"Sum of A and B is {A+B}")

Enter value of A: 2
Enter value of B: 34
Sum of A and B is 36

#Type casting

In [ ]:
A = float(input("Enter value of A: ")) #type casting string to float
B = float(input("Enter value of B: "))
print(f"Sum of A and B is {A+B}")

Enter value of A: 2.4
Enter value of B: 50.8
Sum of A and B is 53.199999999999996

In [ ]:
int("50") #string to integer

50

In [ ]:
A = 23.12
print(f"Type of A before conversion {type(A)}")
A = int(A)
print(f"Type of A after conversion {type(A)}")

Type of A before conversion <class 'float'>
Type of A after conversion <class 'int'>

##Multi assignment

In [ ]:
first_name,middle_name,last_name = "Om","Rajendra","Ekande"
print(f"My full name is {first_name} {middle_name} {last_name}")

My full name is Om Rajendra Ekande

In [ ]:
first_name = input("Enter your First name: ")
middle_name = input("Enter your middle name: ")
last_nmae = input("Enter your last name: ")
print(f"My sister's full name is {first_name} {middle_name} {last_name}")

Enter your First name: Prerana
Enter your middle name: Rajendra
Enter your last name: Ekande
My sister's full name is Prerana Rajendra Ekande

In [ ]:
name = input("Enter your full name: ")
place = input("Enter your place of birth: ")
dob = input("Enter your Date of birth in DD/MM/YYYY format: ")
print(f"{name} was born at {place} on {dob}")

Enter your full name: Om Rajendra Ekande
Enter your place of birth: Gargoti
Enter your Date of birth in DD/MM/YYYY format: 15/03/2001
Om Rajendra Ekande was born at Gargoti on 15/03/2001

In [ ]:
name = input("Enter your full name: ")
place = input("Enter your place of birth: ")
yob = int(input("Enter your Year of birth in YYYY format: "))
age = 2022-yob
print(f"""
{name} was born at {place} and Om's age is {age}""")

Enter your full name: Om R Ekande
Enter your place of birth: gargoti
Enter your Year of birth in YYYY format: 2001

Om R Ekande was born at gargoti and Om's age is 21

##Memory blocks

In [ ]:
a = 22
b = 34
c = 22

In [ ]:
id(a) #ID of a & c is same

11127360

In [ ]:
id(b)

11127744

In [ ]:
id(c)

11127360

In [ ]:
a = 99  #Memory is assigned to the value of variable passed not the variable name
id(a)

11129824

##Assignment

###1.Take input A & B and print their sum,multiplication,division,square of numbers

In [ ]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
print(f"Sum of A & B: {A+B},Multiplication of A & B: {A*B},Division of A & B: {A/B},Square of A:{A**2},Square of B: {B**2} ")

Enter the number A: 25
Enter the number B: 5
Sum of A & B: 30,Multiplication of A & B: 125,Division of A & B: 5.0,Square of A:625,Square of B: 25

###2.Create email id's with user input, in following format.
###lastname.firstname@gmail.com

In [ ]:
firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")
print(f"Your email id is: {lastname}.{firstname}@gmail.com")

Enter your first name: om
Enter your last name: ekande
Your email id is: ekande.om@gmail.com

#Operators
###Not,and,or

In [ ]:
START = True
print(START)

True

In [ ]:
print(not START)

False

#If-else

In [ ]:
raining = True
if raining: #this is a case of true condition
  print("since it's raining")
  print("Let's do work from home")
else:
    print("since its not raining")
    print("Let's go to office")

since it's raining
Let's do work from home

In [ ]:
raining = False
if raining: #this is a case of false condition
  print("Let's do work from home")
else:
    print("since its not raining")
    print("Let's go to office")

since its not raining
Let's go to office

In [ ]:
class_started = bool(input("Hey charan,is class started? [0-False/1-True]"))
if class_started:
  print("Since class is started")
  print("let's concentrate")
else:
  print("Since class is not started")
  print("Let's revise")

Hey charan,is class started? [0-False/1-True]1
Since class is started
let's concentrate

In [ ]:
class_started = bool(input("Hey charan,is class started? [0-False/1-True]"))
if class_started:
  print("Since class is started")
  print("let's concentrate")
else:
  print("Since class is not started")
  print("Let's revise")

Hey charan,is class started? [0-False/1-True]
Since class is not started
Let's revise

##and condition
####all the conditions must be true

####Use [and] operator when you want all the conditions to be true.

In [ ]:
vegetable_present = False
salt_present = True
if vegetable_present and salt_present: #in 'and' operator both/all the condition should be true
  print("It's a good dish")
else:
  print("It's a bad dish")
  print(f"Because salt present {salt_present},but vegetable present {vegetable_present}")

It's a bad dish
Because salt present True,but vegetable present False

In [ ]:
vegetable_present = True
salt_present = True
if vegetable_present and salt_present: #in 'and' operator both/all the condition should be true
  print("It's a good dish")
else:
  print("It's a bad dish")
  print(f"Because salt present {salt_present}, vegetable present {vegetable_present}")

It's a good dish

In [ ]:
vegetable_present = False
salt_present = False
if vegetable_present and salt_present: #in 'and' operator both/all the condition should be true
  print("It's a good dish")
else:
  print("It's a bad dish")
  print(f"Because salt present {salt_present}, vegetable present {vegetable_present}")

It's a bad dish
Because salt present False, vegetable present False

##or operator
####Any one condition should be true

####Use [or] operator if anyone of the condition wants to be true

In [ ]:
i_have_car = True
i_have_bike = False
if i_have_bike or i_have_car:
  print("You can travel 100Kms in a day")
else:
  print("You cannot travel 100Kms in a day")
  print("Because you neither have a bike nor car")

You can travel 100Kms in a day

In [ ]:
i_have_car = False
i_have_bike = False
if i_have_bike or i_have_car:
  print("You can travel 100Kms in a day")
else:
  print("You cannot travel 100Kms in a day")
  print("Because you neither have a bike nor car")

You cannot travel 100Kms in a day
Because you neither have a bike nor car

In [ ]:
i_have_car = False
i_have_bike = True
if i_have_bike or i_have_car:
  print("You can travel 100Kms in a day")
else:
  print("You cannot travel 100Kms in a day")
  print("Because you neither have a bike nor car")

You can travel 100Kms in a day

In [ ]:
attendance = int(input("Enter your current aggregate attendance "))
assignment = int(input("Enter your gained marks of assignment "))
if attendance >= 75 and assignment >= 70:
  print("As you have passed the basic criteria")
  print("You are eligible for exam")
else:
  print(f"As your attendance is {attendance} & your assignment marks are {assignment}")
  print("You are not eligible for exam")

Enter your current aggregate attendance 82
Enter your gained marks of assignment 75
As you have passed the basic criteria
You are eligible for exam

In [ ]:
attendance = int(input("Enter your current aggregate attendance "))
assignment = int(input("Enter your gained marks of assignment "))
if attendance >= 75 and assignment >= 70:
  print("As you have passed the basic criteria")
  print("You are eligible for exam")
else:
  print(f"As your attendance is {attendance} & your assignment marks are {assignment}")
  print("You are not eligible for exam")

Enter your current aggregate attendance 70
Enter your gained marks of assignment 80
As your attendance is 70 & your assignment marks are 80
You are not eligible for exam

In [ ]:
credit_card = bool(input("Do you have credit card? [0-False/1-True] "))
debit_card =  bool(input("Do you have debit card? [0-False/1-True] "))
net_banking =  bool(input("Do you have net banking? [0-False/1-True] "))

if credit_card or debit_card or net_banking:
  print("Proceed further for payment")
else:
  print("Ask papa for money")

Do you have credit card? [0-False/1-True] 1
Do you have debit card? [0-False/1-True] 1
Do you have net banking? [0-False/1-True] 1
Proceed further for payment

#Equality operators

###is

In [ ]:
A = 12
B = 23
if A is B:
  print("A & B are same")
else:
  print("A & B are not same")

A & B are not same

####is not

In [ ]:
A = 12
B = 12
if A is not B:
  print("A & B are not same")
else:
  print("A & B are same")

A & B are same

###==

In [ ]:
A = 12
B = 12
if A==B:
    print("A & B are same")
else:
  print("A & B are not same")

A & B are same

In [ ]:
A = 12
B = 23
if A != B:
   print("A & B are not same")
else:
  print("A & B are same")

A & B are not same

##Comparison operators

###>,>=,<,<= This are comparison operators.

In [ ]:
your_time = float(input("Enter time you have taken to cover 100m : "))
world_record = 9.58
if your_time <= world_record:
  print(f"Your time is {your_time},Congratulations champ! You own title of world record")
else:
  print(f"Your time is {your_time},try harder")

Enter time you have taken to cover 100m : 9.23
Your time is 9.23,Congratulations champ! You own title of world record

In [ ]:
your_time = float(input("Enter time you have taken to cover 100m : "))
world_record = 9.58
if your_time <= world_record:
  print(f"Your time is {your_time},Congratulations champ! You own title of world record")
else:
  print(f"Your time is {your_time},try harder")

Enter time you have taken to cover 100m : 10
Your time is 10.0,try harder

#string

In [ ]:
name = "sunny"

In [ ]:
name[0] #this is string indexing

's'

In [ ]:
name[-5]

's'

In [ ]:
name

'sunny'

In [ ]:
name[::-1] #this is used to reverse the string

'ynnus'

In [ ]:
name[1:] #this is string slicing

'unny'

In [ ]:
name[0:]

'sunny'

In [ ]:
name[-4:-1]

'unn'

In [ ]:
date = input("Enter today's date in DD/MM/YYYY format: ")
today_date = date[0:2]
month = date[3:5]
year = date[6:]
print(f"It's {today_date} of the month {month} in {year}")

Enter today's date in DD/MM/YYYY format: 07/11/2022
It's 07 of the month 11 in 2022

In [ ]:
data = input("Enter your date of birth in DD/MM/YYYY format: ")
date = data[0:2]
month = data[3:5]
year = data[6:]
print(f"The user was born in {month}rd month in the year {year} on date: {date}")

Enter your date of birth in DD/MM/YYYY format: 15/03/2001
The user was born in 03rd month in the year 2001 on date: 15

In [ ]:
data = input("Input a string: ")
reverse = data[::-1]
if data==reverse:
  print(f"Input string {data} is palindrome")
else:
  print(f"Input string {data} is not palindrome")

Input a string: radar
Input string radar is palindrome

In [ ]:
data = input("Input a string: ") #case sensitivity
reverse = data[::-1]
if data==reverse:
  print(f"Input string {data} is palindrome")
else:
  print(f"Input string {data} is not palindrome")

Input a string: Radar
Input string Radar is not palindrome

##mutability

In [ ]:
name = "sunny"

In [ ]:
"f"+name[1:]

'funny'

In [ ]:
name.replace("y","yyy")

'sunnyyy'

In [ ]:
name #original value not changed

'sunny'

In [ ]:
name = name.replace("y","yyy")

In [ ]:
name

'sunnyyy'

##String operations

In [ ]:
name = "Sunny Bhaveen Chandra"
name.replace("n","N") #replace function

'SuNNy BhaveeN ChaNdra'

In [ ]:
name = "Sunny Bhaveen Chandra"
name.replace(" ","|")

'Sunny|Bhaveen|Chandra'

In [ ]:
len(name) #length of the string

21

In [ ]:
len("Sunny")

5

In [ ]:
name.count("n") #count specific character in string

4

In [ ]:
name = "Sunny Bhaveen Chandra"
name.split(" ") #split operation

['Sunny', 'Bhaveen', 'Chandra']

In [ ]:
name.split("n")

['Su', '', 'y Bhavee', ' Cha', 'dra']

In [ ]:
name.lower() #all small letters

'sunny bhaveen chandra'

In [ ]:
name.upper() #all capital letters

'SUNNY BHAVEEN CHANDRA'

In [ ]:
name.capitalize() #first letter of string changes to capital letter

'Sunny bhaveen chandra'

In [ ]:
name.title() #every word's first letter changes to capital letter

'Sunny Bhaveen Chandra'

In [ ]:
name.swapcase() #changes opposite to input

'sUNNY bHAVEEN cHANDRA'

In [ ]:
name = input("Enter your full name: ")
print(f"Your name in capital letters is: {name.upper()}")
print(f"Your name in small letters is: {name.lower()}")
print(f"Your name in title format is: {name.title()}")

Enter your full name: oM rajeNdra ekandE
Your name in capital letters is: OM RAJENDRA EKANDE
Your name in small letters is: om rajendra ekande
Your name in title format is: Om Rajendra Ekande

In [ ]:
phone_number = input("Enter your mobile number: ")
phone_number.isdigit()

Enter your mobile number: 942058206

True

In [ ]:
phone_number = input("Enter your mobile number: ")
phone_number.startswith("94")

Enter your mobile number: 942058206

True

In [ ]:
pan_number = "AEWXX2324M"
pan_number.isalnum() #check for alpha numeric value

True

If total cart value is more than 999Rs. discount is 30%,if cart value is more than 499Rs. but less than 999Rs. discount is 20%,else pay the total cart amount.

In [ ]:
total_amount = int(input("Enter total amount of items you purchased "))
if total_amount>=999:
  price_after_discount = total_amount*0.7
  print(f"Pay amount: {price_after_discount}")
elif 499<total_amount<999:
   price_after_discount = total_amount*0.8
   print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

Enter total amount of items you purchased 500
Pay amount: 400.0

##Nested if else

In [ ]:
val = float(input("Enter a number "))
if val >=0:
  if val ==0:
    print("It's a zero")
  else:
    print("It's a positive number")
else:
  print("It's a negative number")

Enter a number -1
It's a negative number

In [ ]:
val = float(input("Enter a number "))
if val >=0:
  if val ==0:
    print("It's a zero")
  else:
    print("It's a positive number")
else:
  print("It's a negative number")

Enter a number 1
It's a positive number

In [ ]:
val = float(input("Enter a number "))
if val >=0:
  if val ==0:
    print("It's a zero")
  else:
    print("It's a positive number")
else:
  print("It's a negative number")

Enter a number 0
It's a zero

##single line if else

In [ ]:
val = float(input("Enter a number "))
if val>100: print("Yes")
else: print("No")

Enter a number 112
Yes

#Loops

##While loop

In while loop, number of iterations is not known.

In while loop, in case of no condition, an error will be shown.

In [ ]:
total_marks = 1000
cutoff = 600
scores = [100,300,240,470,580,780] #number of iterations is not known,it will keep executing until string ends.
year = 0 #indexing in python starts with 0
while scores[year]<cutoff:
  print(f"Your score is: {scores[year]}, cutoff is: {cutoff}, comeback harder...")
  year = year+1

Your score is: 100, cutoff is: 600, comeback harder...
Your score is: 300, cutoff is: 600, comeback harder...
Your score is: 240, cutoff is: 600, comeback harder...
Your score is: 470, cutoff is: 600, comeback harder...
Your score is: 580, cutoff is: 600, comeback harder...

###Train journey

In [ ]:
stations = ["station01","station02","station03","station04"] #string
current_station = 0 #indexing
destination_station = "station04" #till this point
while stations[current_station]!=destination_station: #condition
  print(f"This is {stations[current_station]}, our destination is {destination_station}")
  print(f"Continue the journey we haven't reached {destination_station}")
  current_station = current_station+1

This is station01, our destination is station04
Continue the journey we haven't reached station04
This is station02, our destination is station04
Continue the journey we haven't reached station04
This is station03, our destination is station04
Continue the journey we haven't reached station04

##While else

In [ ]:
stations = ["station01","station02","station03","station04"] #string
current_station = 0 #indexing
destination_station = "station04" #till this point
while stations[current_station]!=destination_station: #condition
  print(f"This is {stations[current_station]}, our destination is {destination_station}")
  print(f"Continue the journey we haven't reached {destination_station}")
  current_station = current_station+1
else:
  print(f"Our destination {destination_station} is arriving next ")

This is station01, our destination is station04
Continue the journey we haven't reached station04
This is station02, our destination is station04
Continue the journey we haven't reached station04
This is station03, our destination is station04
Continue the journey we haven't reached station04
Our destination station04 is arriving next

####Child is learning to count 10 rupees notes

In [ ]:
notes = 5
i = 1
while i<=notes:
  print(f"current sum: {i*10}")
  i = i+1
else:
  print("No more 10 rupees notes left")

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
No more 10 rupees notes left

#for loop

In for loop, number of iteration is known.

In for loop, in case of no condition loop is repeated infinite times.

In [ ]:
for i in range(0,11): #here,number of iterations is known i.e. (0,11)
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11):
  print(f"10 x {i} = {10*i}")

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

#List

In [ ]:
A = [1,2,3,5.0,"sunny",(1+2j),True]
print(A)

[1, 2, 3, 5.0, 'sunny', (1+2j), True]

####What is difference between list of python & array of C or C++ ?

In Array, we can have elements of one data type only, i.e. int,str,float,complex etc. but in python list,all elements can be same or of different datatype.

In [ ]:
for element in A:
  print(element)

1
2
3
5.0
sunny
(1+2j)
True

In [ ]:
A

[1, 2, 3, 5.0, 'sunny', (1+2j), True]

In [ ]:
for i in range(0,8,2):      #(start,end,steps)
   print(i, A[i])

0 1
2 3
4 sunny
6 True

In [ ]:
A[::-1]

[True, (1+2j), 'sunny', 5.0, 3, 2, 1]

In [ ]:
for i in range(-1,-len(A),-1):
   print(i,A[i])

-1 True
-2 (1+2j)
-3 sunny
-4 5.0
-5 3
-6 2

In [ ]:
A = [1,2,3,4,5.0,"sunny",(1+2j),True]

In [ ]:
for i in [1,5,6,7]:
  print(i,A[i])

1 2
5 sunny
6 (1+2j)
7 True

###Updating list element at specific index.

In [ ]:
A

[1, 2, 3, 4, 5.0, 'sunny', (1+2j), True]

In [ ]:
A[4]= 999 #mutable operation

In [ ]:
A #list is mutable  & string is immutable

[1, 2, 3, 4, 999, 'sunny', (1+2j), True]

In [ ]:
A[-2] = 'iNeuron'

In [ ]:
A

[1, 2, 3, 4, 999, 'sunny', 'iNeuron', True]

In [ ]:
B = [78,90.22] #adding to lists
A+B

[1, 2, 3, 4, 999, 'sunny', 'iNeuron', True, 78, 90.22]

In [ ]:
A-B #This operation is not allowed in list

TypeError: ignored

In [ ]:
A*2

[1,
 2,
 3,
 4,
 999,
 'sunny',
 'iNeuron',
 True,
 1,
 2,
 3,
 4,
 999,
 'sunny',
 'iNeuron',
 True]

In [ ]:
A*-2 #multiplying s list by negative number will give you an empty list

[]

###Preparing list by user input

In [ ]:
#Prepare list of items to purchase on diwali

In [ ]:
list_of_items_to_purchase = list()  #This is empty string
for i in range(5):
  user_input = input("Enter the item that you want to purchase: ")
  list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
print(list_of_items_to_purchase)

Enter the item that you want to purchase: soap
Enter the item that you want to purchase: oil
Enter the item that you want to purchase: clothes
Enter the item that you want to purchase: food items
Enter the item that you want to purchase: gifts
['soap', 'oil', 'clothes', 'food items', 'gifts']

In [ ]:
l = [1,2,3,4,5] #checking membership in a list
5 in l

True

In [ ]:
6 in l

False

In [ ]:
list_of_items_to_purchase

['soap', 'oil', 'clothes', 'food items', 'gifts']

In [ ]:
if "crackers" in list_of_items_to_purchase:
  print("Yes, crackers are there in the list")
else:
  print("No crackers are there in the list, adding now")
  list_of_items_to_purchase = list_of_items_to_purchase+["crackers"]

No crackers are there in the list, adding now

In [ ]:
list_of_items_to_purchase #crackers are added to the list

['soap', 'oil', 'clothes', 'food items', 'gifts', 'crackers']

####Max()

In [ ]:
example = [1,45,678,12]
max(example)    #Gives highest value from list

678

In [ ]:
string_ex = ["b","a","D","d"]
max(string_ex) #because Ascii code of 'd' is higher than 'D'

'd'

In [ ]:
example = [1,2,99.0] #float case
max(example) #max() does not support in case of complex,it gives TypeError

99.0

In [ ]:
example = [1,45,678,12,-500]

In [ ]:
min(example) #gives lowest value from the list

-500

Print a name with highest number of characters

In [ ]:
string_ex = ["bhaveen","abhishek","dew","dj","charlie"]

In [ ]:
string_ex = ["bhaveen","abhishek","dew","dj","charlie"]
max_len = 0

for ex in string_ex:
  print(ex,len(ex))
  if len(ex)>max_len:
    max_len = len(ex)
    result = ex
    print(f"Result: max_len: {max-len} name: {result}")

bhaveen 7

TypeError: ignored

###append(' ')

In [ ]:
#Use the append method to permanently add an item to the end of a list.

In [ ]:
l = [1,2,3]

In [ ]:
l.append('append me!') #permanent operation

In [ ]:
l

[1, 2, 3, 'append me!']

In [ ]:
l.append("sanjay","john") #wrong syntax

TypeError: ignored

In [ ]:
l.append(["sanjay","John"]) #correct syntax

In [ ]:
l

[1, 2, 3, 'append me!', ['sanjay', 'John']]

###pop()

In [ ]:
#pop() is used to 'pop off' an item from the list.By default pop takes off the last index, but you can also specify which index to pop off.
A = [6,4,5,7,"sunny"]
A.pop() #removes last index

'sunny'

In [ ]:
A

[6, 4, 5, 7]

In [ ]:
A.pop(0) #removes 0th index element

6

In [ ]:
A

[4, 5, 7]

###sort()

In [ ]:
A = [1,45,67,98,-34]

In [ ]:
A.sort() ##changes A in ascending order

In [ ]:
A #permanent change

[-34, 1, 45, 67, 98]

###reverse()

In [ ]:
A.reverse() #reverse the list permanently

In [ ]:
A

[98, 67, 45, 1, -34]

#Nesting of the list

###That means list inside a list

In [ ]:
A = [[1,2,3],[11,12,13],[43,44,77]]
A

[[1, 2, 3], [11, 12, 13], [43, 44, 77]]

In [ ]:
A[0]

[1, 2, 3]

In [ ]:
A[0][0]

1

In [ ]:
A[1][1]

12

In [ ]:
A = [[1,2,3],[11,12,13,[500,502]],[45,56,77]]

In [ ]:
A

[[1, 2, 3], [11, 12, 13, [500, 502]], [45, 56, 77]]

In [ ]:
A[1][3]

[500, 502]

In [ ]:
A[1][3][0]

500

##list comprehension

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]
#we have to make new list which contains square of above numbers

In [ ]:
ans = list() #empty list
for ele in A:
  print(ele**2)
  ans.append(ele**2)
print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

or

In [ ]:
ans = [ele**2 for ele in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Only take the square of odd no. in the list A

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
ans = list()
for ele in A:
  if ele%2 !=0:
    print(ele**2)
    ans.append(ele**2)
print(ans)

1
9
25
49
81
[1, 9, 25, 49, 81]

or

In [ ]:
ans = [ele**2 for ele in A if ele%2 != 0]
print(ans)

[1, 9, 25, 49, 81]

###.count()

In [ ]:
A = [1,2,1,4,5,6,7,7,7]
A.count(1) #It counts how many times number is written in list

In [ ]:
A.count(7)

3

In [ ]:
A = [1,2,1,4,5,6,[7,7],[7,7]]
A.count([7,7])

2

In [ ]:
A[-1].count(7)

2

In [ ]:
A = [1,2,1,4,5,6,7,7,7]
for i in A:
  print(i,A.count(i))

1 2
2 1
1 2
4 1
5 1
6 1
7 3
7 3
7 3

In [ ]:
B = "Professional"
for i in B:
  print(i, B.count(i))

P 1
r 1
o 2
f 1
e 1
s 2
s 2
i 1
o 2
n 1
a 1
l 1

In [ ]:
c = ["Shubham","Sairaj","Om","Shubham","Om"]
for d in c:
  print(d,c.count(d))

Shubham 2
Sairaj 1
Om 2
Shubham 2
Om 2

##.extend()

In [ ]:
A = [1,2,3]
B = [11,23,47]
A.extend(B) #permanent operation

In [ ]:
A

[1, 2, 3, 11, 23, 47]

###.append()

In [ ]:
A.append(B) #list into list #permanent operation

In [ ]:
A

[1, 2, 3, 11, 23, 47, [11, 23, 47]]

###.index()

In [ ]:
A.index(11) #tella index of an element from list

3

In [ ]:
A.index([11,23,47])

6

print the index of all the complex numbers when A = [11,3,4,56+2j,"sunny",1+2j]

In [ ]:
A = [11,3,4,56+2j,"sunny",1+2j]
for i in A:
  if type(i)==complex:
    print(i,A.index(i))

(56+2j) 3
(1+2j) 5

###or

In [ ]:
A = [11,3,4,56+2j,"sunny",1+2j]
for i in A:
  if isinstance(i,complex):
    print(i,A.index(i))

(56+2j) 3
(1+2j) 5

Print the index of all the complex or int also.

In [ ]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
  if isinstance(ele,(complex,int)):
     print(ele,A.index(ele))

11 0
3 1
4 2
(56+2j) 3
(1+2j) 5

###or

In [ ]:
A = [11,3,4,56+2j,"sunny",1+2j]
for ele in A:
  if type(ele)==complex or type(ele)==int:
     print(ele,A.index(ele))

11 0
3 1
4 2
(56+2j) 3
(1+2j) 5

##.insert( , )

In [ ]:
#insert  is little similar to .append()
A = [1,2,3,4,5]

In [ ]:
A.append(99)

In [ ]:
A

[1, 2, 3, 4, 5, 99]

In [ ]:
A.insert(2,"om") #(index,element)

In [ ]:
A

[1, 2, 'om', 3, 4, 5, 99]

In [ ]:
A.insert(2,[9,12,32])

In [ ]:
A

[1, 2, [9, 12, 32], 'om', 3, 4, 5, 99]

##.remove()

In [ ]:
A = [1,2,3,455,6,78]
A.remove(455) #this removes element mentioned in bracket

In [ ]:
A

[1, 2, 3, 6, 78]

In [ ]:
A.pop() #this removes last element by default

78

In [ ]:
A

[1, 2, 3, 6]

#Tuples

list[ ] - mutable,
tuple () - immutable

In [ ]:
A  = (1,2,3) #tuple is in () i.e. round brackets
type(A)

tuple

In [ ]:
A[0]

1

In [ ]:
A[-1]

3

In [ ]:
A[0] = 22 #i.e. tuple is immutable #'tuple' does not support item assignment

TypeError: ignored

In [ ]:
A.sort() #bcoz tuple is immutable

AttributeError: ignored

In [ ]:
sorted(A) #converted into list

[1, 2, 3]

In [ ]:
len(A)

3

In [ ]:
max(A)

3

In [ ]:
min(A)

1

In [ ]:
A.index(2)

1

In [ ]:
A.count(2)

1

In [ ]:
sum(A)

6

In [ ]:
A.reversed() #tuple does not support this

AttributeError: ignored

##When to use tuples?

####Tuples are not used often as lists in programming but are used when immutability is necessary.While you are passing around an object & if you need to make sure that it does not get changed then tuple become your solution.It provides a convinient source of data integrity.

In [ ]:
A = (22,12,34,1)

In [ ]:
A[1:]

(12, 34, 1)

In [ ]:
A[::-1]

(1, 34, 12, 22)

#Sets

Unordered collection of unique elements.

In [ ]:
x  = {1,2,33,6,7}

In [ ]:
type(x)

set

In [ ]:
x  = {1,2,33,6,7,7,7}

In [ ]:
x #it will only contain uniques not duplicates

{1, 2, 6, 7, 33}

In [ ]:
x[0] #not allowed as set is unordered

TypeError: ignored

In [ ]:
x  = {1,2,33,6,"sunny"}

In [ ]:
x

{1, 2, 33, 6, 'sunny'}

In [ ]:
x.add(99)

In [ ]:
x

{1, 2, 33, 6, 99, 'sunny'}

append is not allowed in set

A+B in set is not allowed

In [ ]:
#return the list with unique elements
A = [1,2,3,5,5,6,7,7,7]

In [ ]:
A = list(set(A))

In [ ]:
A

[1, 2, 3, 5, 6, 7]

In [ ]:
A = [1,2,3,5,5,6,7,7,7]
A = set(A)

In [ ]:
A #coverted into set

{1, 2, 3, 5, 6, 7}

#Function

In [ ]:
def test(): #def is used to define a function
  pass

In [ ]:
def test1():
  print("This is my very first function")

In [ ]:
test1()

This is my very first function

In [ ]:
a = 1
b = test1()

This is my very first function

In [ ]:
b

In [ ]:
print(b)

None

In [ ]:
type(b)

NoneType

In [ ]:
type(test1())

This is my very first function

NoneType

Function with return

In [ ]:
def test2():
  return 5 #returns or assign value to defined function

In [ ]:
test2()

5

In [ ]:
d = test2()

In [ ]:
d

5

In [ ]:
def test3():
  return 6

In [ ]:
test3()

6

In [ ]:
def test4():
  print("this is my hometown")

In [ ]:
test4()

this is my hometown

In [ ]:
def test6():
  return 1,3,[3,4,5,'sudh'],(3,4,5,6) #if we do not write as string,list it will make it tuple

In [ ]:
test6()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [ ]:
type(test6())

tuple

In [ ]:
test6()[1]

3

In [ ]:
test6()[2]

[3, 4, 5, 'sudh']

In [ ]:
def test7():
  return 1,3,[3,4,5,'sudh'],(3,4,5,6)

In [ ]:
a,b,c,d = test7()

In [ ]:
a

1

In [ ]:
b

3

In [ ]:
c

[3, 4, 5, 'sudh']

In [ ]:
d

(3, 4, 5, 6)

In [ ]:
a = 1
b = 2
c = 3

or

In [ ]:
a,b,c = 1,2,3 #both are same #this is multi assignment

In [ ]:
def test8():
  a = 4*5+8
  return a

In [ ]:
test8()

28

In [ ]:
test8()+8

36

In [ ]:
l = [2,3,4,5,6,7,8,9]
a = 0
for i in l:
  a = i+a
print(a)

44

In [ ]:
#doubt
l = [2,3,4,5,6,7,8,9,"sudh"]
def test10(l):
  a = 0
  for i in l:
      a = i+a
      if type(i)==int:
        return a

In [ ]:
test10(l)

2

In [ ]:
def test11(a,b):
  return a+b
test11(2,3)

5

In [ ]:
test11('sudh','kumar')

'sudhkumar'

In [ ]:
test11(a=7,b=5)

12